.activity-map {
    height: 85vh !important;
    z-index: 10000;
}
.map-left-sidebar {
    font-family: Arial, sans-serif;
    background: #1e1e1e;
    color: #FFF;
    height: auto;
    width: 180px;
    font-size: 13px;
    padding: 5px;
    top: 0;
    position: absolute;
    z-index: 100001;
}

@media (max-width: 767px) {
    .map-left-sidebar {
        width: 100% !important;
        background: unset;
        position: relative;
    }
    .map-left-sidebar ul li a.active {
        color: #0c7cd5 !important;
    }
}

.map-left-sidebar ul li {
    padding-bottom: 8px;
}
.map-left-sidebar ul li a.active {
    color: #a0ff00;
}

/** Marker **/
.pin-label {
    position: relative;
    z-index: 30001;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: -45px;
    -webkit-transform-origin: 50% 120.7106781187% 0;
    transform-origin: 50% 120.7106781187% 0;
}

.pin-label,
.marker-label-class {
    color: #FFF !important;
}

.pin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-transform-origin: 50% 120.7106781187% 0;
    transform-origin: 50% 120.7106781187% 0;
}

.pin::after {
    position: absolute;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    content: '';
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    border: 20px solid #f93c11;
    border-radius: 50% 50% 50% 50%;
}

.pin::before {
    position: absolute;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    content: '';
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    border: 18px solid #d22b05;
    border-radius: 50% 50% 50% 0;
}

.shadow {
    position: absolute;
}

.shadow::after {
    position: absolute;
    left: -125px;
    display: block;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    content: '';
    -webkit-transform: rotateX(55deg);
    transform: rotateX(55deg);
    border-radius: 50%;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 100px 0 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 100px 0 20px;
}

.pulse {
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-transform: rotateX(55deg);
    transform: rotateX(55deg);
}

.pulse::after {
    display: block;
    width: 100px;
    height: 100px;
    content: '';
    -webkit-animation: pulsate 1s ease-out;
    animation: pulsate 1s ease-out;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
}

.pulse.driver-arrived::after {
    -webkit-box-shadow: 0 0 6px 3px #990004;
    box-shadow: 0 0 6px 3px #994e52;
}

.pulse.cancel::after {
    -webkit-box-shadow: 0 0 6px 3px #f93c11;
    box-shadow: 0 0 6px 3px #f93c11;
}

.pulse.new-trip-later::after {
    -webkit-box-shadow: 0 0 6px 3px #7400f9;
    box-shadow: 0 0 6px 3px #7400f9;
}

.pulse.new-trip::after {
    -webkit-box-shadow: 0 0 6px 3px #0c7cd5;
    box-shadow: 0 0 6px 3px #00aced;
}

.pulse.waiting-for-driver::after {
    -webkit-box-shadow: 0 0 6px 3px #5a0099;
    box-shadow: 0 0 6px 3px #962199;
}

.pulse.dropoff::after {
    -webkit-box-shadow: 0 0 6px 3px #00CC00;
    box-shadow: 0 0 6px 3px #00FF00;
}

.pulse.fareestimate::after {
    -webkit-box-shadow: 0 0 6px 3px #ffff00;
    box-shadow: 0 0 1px 3px #fffb3e;
}

.driver-pulse-effect {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    display: block;
    background: rgba(5, 124, 255, 0.6);
    border-radius: 50%;
    opacity: 0;
    animation: pulsate-small 2400ms ease-out infinite;
}

@keyframes pulsate-small {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
.header {
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #f93c11;
    background: rgba(255, 255, 255, 0.75);
}

h1 {
    font-family: Raleway, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 10px;
    border-bottom: 2px dashed #f93c11;
    display: inline-block;
}

.tags {
    font-weight: 300;
}

.list-label {
    font-family: Raleway, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: 400;
}

.header li {
    display: inline-block;
}

.tags a {
    color: #f93c11;
}

.animations a {
    line-height: 42px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 44px;
    margin: 0 5px;
    padding: 0 10px;
    text-decoration: none;
    color: #f93c11;
    border: 2px solid #f93c11;
    border-radius: 22px;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}

.animations a:hover {
    color: white;
    background: #f93c11;
}