@charset "UTF-8";
.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block
}

.slick-dots li button:before, .slick-next:before, .slick-prev:before {
    font-family: slick;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-list, svg:not(:root) {
    overflow: hidden
}

.dl-horizontal dd:after, .slick-track:after {
    clear: both
}

.slick-loading .slick-slide, .slick-loading .slick-track {
    visibility: hidden
}

.slick-slider, html {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box
}

*, .slick-slider, :after, :before, html {
    box-sizing: border-box
}

@font-face {
    font-family: Moderat;
    src: url(../fonts/Moderat/moderat-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/Moderat/moderat-bold-webfont.woff) format("woff"), url(../fonts/Moderat/moderat-bold-webfont.ttf) format("truetype"), url(../fonts/Moderat/moderat-bold-webfont.svg#Moderat-Bold) format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Moderat;
    src: url(../fonts/Moderat/moderat-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/Moderat/moderat-regular-webfont.woff) format("woff"), url(../fonts/Moderat/moderat-regular-webfont.ttf) format("truetype"), url(../fonts/Moderat/moderat-regular-webfont.svg#Moderat-Regular) format("svg");
    font-weight: 400;
    font-style: normal
}

.slick-slider {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.slick-list {
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translate3d(0, 0, 0)
}

.slick-track {
    left: 0;
    top: 0
}

.slick-track:after, .slick-track:before {
    content: '';
    display: table
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir=rtl] .slick-slide {
    float: right
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .nav-pills > li {
    float: left
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-dots, .slick-next, .slick-prev {
    position: absolute;
    display: block;
    padding: 0
}

.slick-loading .slick-list {
    background: url(../img/ajax-loader.gif) center center no-repeat #fff
}

@font-face {
    font-family: slick;
    src: url(../fonts/slick/slick.eot);
    src: url(../fonts/slick/slick.eot?#iefix) format("embedded-opentype"), url(../fonts/slick/slick.woff) format("woff"), url(../fonts/slick/slick.ttf) format("truetype"), url(../fonts/slick/slick.svg#slick) format("svg");
    font-weight: 400;
    font-style: normal
}

.slick-next, .slick-prev {
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: 0 0;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    border: 0;
    outline: 0
}

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
    outline: 0;
    background: 0 0;
    color: transparent
}

.slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before, .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: .75
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    left: auto;
    right: -25px
}

.slick-prev:before {
    content: "←"
}

.slick-next:before, [dir=rtl] .slick-prev:before {
    content: "→"
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    left: -25px;
    right: auto
}

[dir=rtl] .slick-next:before {
    content: "←"
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    bottom: -25px;
    list-style: none;
    text-align: center;
    margin: 0;
    width: 100%
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}

body, figure {
    margin: 0
}

.slick-dots li button {
    border: 0;
    background: 0 0;
    display: block;
    height: 20px;
    width: 20px;
    outline: 0;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer
}

legend, td, th {
    padding: 0
}

.slick-dots li button:focus, .slick-dots li button:hover {
    outline: 0
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: #000;
    opacity: .25
}

.slick-dots li.slick-active button:before {
    color: #000;
    opacity: .75
}

/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    background-color: #fff
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    color: #337ab7;
    text-decoration: none
}

b, optgroup, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0;
    vertical-align: middle
}

hr {
    box-sizing: content-box;
    height: 0
}

pre, textarea {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a:focus, a:hover {
    color: #23527c
}

a:focus {
    outline-offset: -2px
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 6px
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}

hr {
    margin-top: 14px;
    margin-bottom: 14px;
    border: 0;
    border-top: 1px solid #eee
}

.contact-laoxi label, .sr-only, .validation_error {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #6f8992
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 14px;
    margin-bottom: 7px
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 7px;
    margin-bottom: 7px
}

.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-size: 75%
}

.h1, h1 {
    font-size: 55px
}

.h2, .h3, h2, h3 {
    font-size: 35px
}

.h4, h4 {
    font-size: 22px
}

.h5, h5 {
    font-size: 10px
}

.h6, h6 {
    font-size: 9px
}

p {
    margin: 0 0 7px
}

.lead {
    margin-bottom: 14px;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width: 768px) {
    .lead {
        font-size: 15px
    }
}

.initialism, .small, small {
    font-size: 90%
}

.mark, mark {
    background-color: #fcf8e3;
    padding: .2em
}

.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-justify {
    text-align: justify
}

.text-nowrap {
    white-space: nowrap
}

.text-lowercase {
    text-transform: lowercase
}

.text-uppercase {
    text-transform: uppercase
}

.text-capitalize {
    text-transform: capitalize
}

.text-muted {
    color: #6f8992
}

.text-primary {
    color: #337ab7
}

a.text-primary:hover {
    color: #286090
}

.text-success {
    color: #3c763d
}

a.text-success:hover {
    color: #2b542c
}

.text-info {
    color: #31708f
}

a.text-info:hover {
    color: #245269
}

.text-warning {
    color: #8a6d3b
}

a.text-warning:hover {
    color: #66512c
}

.text-danger {
    color: #a94442
}

a.text-danger:hover {
    color: #843534
}

.bg-primary {
    color: #fff;
    background-color: #337ab7
}

a.bg-primary:hover {
    background-color: #286090
}

.bg-success {
    background-color: #dff0d8
}

a.bg-success:hover {
    background-color: #c1e2b3
}

.bg-info {
    background-color: #d9edf7
}

a.bg-info:hover {
    background-color: #afd9ee
}

.bg-warning {
    background-color: #fcf8e3
}

a.bg-warning:hover {
    background-color: #f7ecb5
}

.bg-danger {
    background-color: #f2dede
}

a.bg-danger:hover {
    background-color: #e4b9b9
}

.page-header {
    padding-bottom: 6px;
    margin: 28px 0 14px;
    border-bottom: 1px solid #eee;
    color: #414244;
    font-size: 24px;
}

dl, ol, ul {
    margin-top: 0
}

blockquote ol:last-child, blockquote p:last-child, blockquote ul:last-child, ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0
}

address, dl {
    margin-bottom: 14px
}

ol, ul {
    margin-bottom: 7px
}

.list-inline {
    margin-left: -5px
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}

dd, dt {
    line-height: 1.428571429
}

dt {
    font-weight: 700
}

dd {
    margin-left: 0
}

.dl-horizontal dd:after, .dl-horizontal dd:before {
    content: " ";
    display: table
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .dl-horizontal dd {
        margin-left: 180px
    }

    .container {
        width: 750px
    }
}

.clearfix:after, .container-fluid:after, .container:after, .fair-for-all, .gallery:after, .nav:after, .row:after {
    clear: both
}

abbr[data-original-title], abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #6f8992
}

.initialism {
    text-transform: uppercase
}

blockquote {
    padding: 7px 14px;
    margin: 0 0 14px;
    font-size: 12.5px;
    border-left: 5px solid #eee
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto
}

blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.428571429;
    color: #6f8992
}

.container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
    display: table
}

blockquote .small:before, blockquote footer:before, blockquote small:before {
    content: '\2014 \00A0'
}

.blockquote-reverse, blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
    text-align: right
}

.container, .container-fluid {
    padding-left: 15px;
    padding-right: 15px
}

.blockquote-reverse .small:before, .blockquote-reverse footer:before, .blockquote-reverse small:before, blockquote.pull-right .small:before, blockquote.pull-right footer:before, blockquote.pull-right small:before {
    content: ''
}

.blockquote-reverse .small:after, .blockquote-reverse footer:after, .blockquote-reverse small:after, blockquote.pull-right .small:after, blockquote.pull-right footer:after, blockquote.pull-right small:after {
    content: '\00A0 \2014'
}

.clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .nav:after, .nav:before, .row:after, .row:before {
    content: " "
}

address {
    font-style: normal;
    line-height: 1.428571429
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1 {
    width: 8.3333333333%
}

.col-xs-2 {
    width: 16.6666666667%
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.3333333333%
}

.col-xs-5 {
    width: 41.6666666667%
}

.col-xs-6 {
    width: 50%
}

.col-xs-7 {
    width: 58.3333333333%
}

.col-xs-8 {
    width: 66.6666666667%
}

.col-xs-9 {
    width: 75%
}

.col-xs-10 {
    width: 83.3333333333%
}

.col-xs-11 {
    width: 91.6666666667%
}

.col-xs-12 {
    width: 100%
}

.col-xs-pull-0 {
    right: auto
}

.col-xs-pull-1 {
    right: 8.3333333333%
}

.col-xs-pull-2 {
    right: 16.6666666667%
}

.col-xs-pull-3 {
    right: 25%
}

.col-xs-pull-4 {
    right: 33.3333333333%
}

.col-xs-pull-5 {
    right: 41.6666666667%
}

.col-xs-pull-6 {
    right: 50%
}

.col-xs-pull-7 {
    right: 58.3333333333%
}

.col-xs-pull-8 {
    right: 66.6666666667%
}

.col-xs-pull-9 {
    right: 75%
}

.col-xs-pull-10 {
    right: 83.3333333333%
}

.col-xs-pull-11 {
    right: 91.6666666667%
}

.col-xs-pull-12 {
    right: 100%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-push-1 {
    left: 8.3333333333%
}

.col-xs-push-2 {
    left: 16.6666666667%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-4 {
    left: 33.3333333333%
}

.col-xs-push-5 {
    left: 41.6666666667%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-7 {
    left: 58.3333333333%
}

.col-xs-push-8 {
    left: 66.6666666667%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-10 {
    left: 83.3333333333%
}

.col-xs-push-11 {
    left: 91.6666666667%
}

.col-xs-push-12 {
    left: 100%
}

.col-xs-offset-0 {
    margin-left: 0
}

.col-xs-offset-1 {
    margin-left: 8.3333333333%
}

.col-xs-offset-2 {
    margin-left: 16.6666666667%
}

.col-xs-offset-3 {
    margin-left: 25%
}

.col-xs-offset-4 {
    margin-left: 33.3333333333%
}

.col-xs-offset-5 {
    margin-left: 41.6666666667%
}

.col-xs-offset-6 {
    margin-left: 50%
}

.col-xs-offset-7 {
    margin-left: 58.3333333333%
}

.col-xs-offset-8 {
    margin-left: 66.6666666667%
}

.col-xs-offset-9 {
    margin-left: 75%
}

.col-xs-offset-10 {
    margin-left: 83.3333333333%
}

.col-xs-offset-11 {
    margin-left: 91.6666666667%
}

.col-xs-offset-12 {
    margin-left: 100%
}

@media (min-width: 768px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left
    }

    .col-sm-1 {
        width: 8.3333333333%
    }

    .col-sm-2 {
        width: 16.6666666667%
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-4 {
        width: 33.3333333333%
    }

    .col-sm-5 {
        width: 41.6666666667%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-7 {
        width: 58.3333333333%
    }

    .col-sm-8 {
        width: 66.6666666667%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-10 {
        width: 83.3333333333%
    }

    .col-sm-11 {
        width: 91.6666666667%
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-pull-0 {
        right: auto
    }

    .col-sm-pull-1 {
        right: 8.3333333333%
    }

    .col-sm-pull-2 {
        right: 16.6666666667%
    }

    .col-sm-pull-3 {
        right: 25%
    }

    .col-sm-pull-4 {
        right: 33.3333333333%
    }

    .col-sm-pull-5 {
        right: 41.6666666667%
    }

    .col-sm-pull-6 {
        right: 50%
    }

    .col-sm-pull-7 {
        right: 58.3333333333%
    }

    .col-sm-pull-8 {
        right: 66.6666666667%
    }

    .col-sm-pull-9 {
        right: 75%
    }

    .col-sm-pull-10 {
        right: 83.3333333333%
    }

    .col-sm-pull-11 {
        right: 91.6666666667%
    }

    .col-sm-pull-12 {
        right: 100%
    }

    .col-sm-push-0 {
        left: auto
    }

    .col-sm-push-1 {
        left: 8.3333333333%
    }

    .col-sm-push-2 {
        left: 16.6666666667%
    }

    .col-sm-push-3 {
        left: 25%
    }

    .col-sm-push-4 {
        left: 33.3333333333%
    }

    .col-sm-push-5 {
        left: 41.6666666667%
    }

    .col-sm-push-6 {
        left: 50%
    }

    .col-sm-push-7 {
        left: 58.3333333333%
    }

    .col-sm-push-8 {
        left: 66.6666666667%
    }

    .col-sm-push-9 {
        left: 75%
    }

    .col-sm-push-10 {
        left: 83.3333333333%
    }

    .col-sm-push-11 {
        left: 91.6666666667%
    }

    .col-sm-push-12 {
        left: 100%
    }

    .col-sm-offset-0 {
        margin-left: 0
    }

    .col-sm-offset-1 {
        margin-left: 8.3333333333%
    }

    .col-sm-offset-2 {
        margin-left: 16.6666666667%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }

    .col-sm-offset-4 {
        margin-left: 33.3333333333%
    }

    .col-sm-offset-5 {
        margin-left: 41.6666666667%
    }

    .col-sm-offset-6 {
        margin-left: 50%
    }

    .col-sm-offset-7 {
        margin-left: 58.3333333333%
    }

    .col-sm-offset-8 {
        margin-left: 66.6666666667%
    }

    .col-sm-offset-9 {
        margin-left: 75%
    }

    .col-sm-offset-10 {
        margin-left: 83.3333333333%
    }

    .col-sm-offset-11 {
        margin-left: 91.6666666667%
    }

    .col-sm-offset-12 {
        margin-left: 100%
    }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: left
    }

    .col-md-1 {
        width: 8.3333333333%
    }

    .col-md-2 {
        width: 16.6666666667%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.3333333333%
    }

    .col-md-5 {
        width: 41.6666666667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.3333333333%
    }

    .col-md-8 {
        width: 66.6666666667%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.3333333333%
    }

    .col-md-11 {
        width: 91.6666666667%
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-pull-0 {
        right: auto
    }

    .col-md-pull-1 {
        right: 8.3333333333%
    }

    .col-md-pull-2 {
        right: 16.6666666667%
    }

    .col-md-pull-3 {
        right: 25%
    }

    .col-md-pull-4 {
        right: 33.3333333333%
    }

    .col-md-pull-5 {
        right: 41.6666666667%
    }

    .col-md-pull-6 {
        right: 50%
    }

    .col-md-pull-7 {
        right: 58.3333333333%
    }

    .col-md-pull-8 {
        right: 66.6666666667%
    }

    .col-md-pull-9 {
        right: 75%
    }

    .col-md-pull-10 {
        right: 83.3333333333%
    }

    .col-md-pull-11 {
        right: 91.6666666667%
    }

    .col-md-pull-12 {
        right: 100%
    }

    .col-md-push-0 {
        left: auto
    }

    .col-md-push-1 {
        left: 8.3333333333%
    }

    .col-md-push-2 {
        left: 16.6666666667%
    }

    .col-md-push-3 {
        left: 25%
    }

    .col-md-push-4 {
        left: 33.3333333333%
    }

    .col-md-push-5 {
        left: 41.6666666667%
    }

    .col-md-push-6 {
        left: 50%
    }

    .col-md-push-7 {
        left: 58.3333333333%
    }

    .col-md-push-8 {
        left: 66.6666666667%
    }

    .col-md-push-9 {
        left: 75%
    }

    .col-md-push-10 {
        left: 83.3333333333%
    }

    .col-md-push-11 {
        left: 91.6666666667%
    }

    .col-md-push-12 {
        left: 100%
    }

    .col-md-offset-0 {
        margin-left: 0
    }

    .col-md-offset-1 {
        margin-left: 8.3333333333%
    }

    .col-md-offset-2 {
        margin-left: 16.6666666667%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-4 {
        margin-left: 33.3333333333%
    }

    .col-md-offset-5 {
        margin-left: 41.6666666667%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }

    .col-md-offset-7 {
        margin-left: 58.3333333333%
    }

    .col-md-offset-8 {
        margin-left: 66.6666666667%
    }

    .col-md-offset-9 {
        margin-left: 75%
    }

    .col-md-offset-10 {
        margin-left: 83.3333333333%
    }

    .col-md-offset-11 {
        margin-left: 91.6666666667%
    }

    .col-md-offset-12 {
        margin-left: 100%
    }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        float: left
    }

    .col-lg-1 {
        width: 8.3333333333%
    }

    .col-lg-2 {
        width: 16.6666666667%
    }

    .col-lg-3 {
        width: 25%
    }

    .col-lg-4 {
        width: 33.3333333333%
    }

    .col-lg-5 {
        width: 41.6666666667%
    }

    .col-lg-6 {
        width: 50%
    }

    .col-lg-7 {
        width: 58.3333333333%
    }

    .col-lg-8 {
        width: 66.6666666667%
    }

    .col-lg-9 {
        width: 75%
    }

    .col-lg-10 {
        width: 83.3333333333%
    }

    .col-lg-11 {
        width: 91.6666666667%
    }

    .col-lg-12 {
        width: 100%
    }

    .col-lg-pull-0 {
        right: auto
    }

    .col-lg-pull-1 {
        right: 8.3333333333%
    }

    .col-lg-pull-2 {
        right: 16.6666666667%
    }

    .col-lg-pull-3 {
        right: 25%
    }

    .col-lg-pull-4 {
        right: 33.3333333333%
    }

    .col-lg-pull-5 {
        right: 41.6666666667%
    }

    .col-lg-pull-6 {
        right: 50%
    }

    .col-lg-pull-7 {
        right: 58.3333333333%
    }

    .col-lg-pull-8 {
        right: 66.6666666667%
    }

    .col-lg-pull-9 {
        right: 75%
    }

    .col-lg-pull-10 {
        right: 83.3333333333%
    }

    .col-lg-pull-11 {
        right: 91.6666666667%
    }

    .col-lg-pull-12 {
        right: 100%
    }

    .col-lg-push-0 {
        left: auto
    }

    .col-lg-push-1 {
        left: 8.3333333333%
    }

    .col-lg-push-2 {
        left: 16.6666666667%
    }

    .col-lg-push-3 {
        left: 25%
    }

    .col-lg-push-4 {
        left: 33.3333333333%
    }

    .col-lg-push-5 {
        left: 41.6666666667%
    }

    .col-lg-push-6 {
        left: 50%
    }

    .col-lg-push-7 {
        left: 58.3333333333%
    }

    .col-lg-push-8 {
        left: 66.6666666667%
    }

    .col-lg-push-9 {
        left: 75%
    }

    .col-lg-push-10 {
        left: 83.3333333333%
    }

    .col-lg-push-11 {
        left: 91.6666666667%
    }

    .col-lg-push-12 {
        left: 100%
    }

    .col-lg-offset-0 {
        margin-left: 0
    }

    .col-lg-offset-1 {
        margin-left: 8.3333333333%
    }

    .col-lg-offset-2 {
        margin-left: 16.6666666667%
    }

    .col-lg-offset-3 {
        margin-left: 25%
    }

    .col-lg-offset-4 {
        margin-left: 33.3333333333%
    }

    .col-lg-offset-5 {
        margin-left: 41.6666666667%
    }

    .col-lg-offset-6 {
        margin-left: 50%
    }

    .col-lg-offset-7 {
        margin-left: 58.3333333333%
    }

    .col-lg-offset-8 {
        margin-left: 66.6666666667%
    }

    .col-lg-offset-9 {
        margin-left: 75%
    }

    .col-lg-offset-10 {
        margin-left: 83.3333333333%
    }

    .col-lg-offset-11 {
        margin-left: 91.6666666667%
    }

    .col-lg-offset-12 {
        margin-left: 100%
    }
}

.btn-block, .gallery-columns-0 .gallery-item, .gallery-columns-1 .gallery-item, .nav-justified, .nav-tabs.nav-justified, input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%
}

.btn, .main-navigation a[href='#driver-registration'], .main-navigation a.download-app {
    margin-bottom: 0;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.428571429;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, .main-navigation a.active.focus[href='#driver-registration'], .main-navigation a.active.focus[href='#download-app'], .main-navigation a.active[href='#driver-registration']:focus, .main-navigation a.active[href='#download-app']:focus, .main-navigation a.focus[href='#driver-registration'], .main-navigation a.focus[href='#download-app'], .main-navigation a[href='#driver-registration']:active.focus, .main-navigation a[href='#driver-registration']:active:focus, .main-navigation a[href='#driver-registration']:focus, .main-navigation a.download-app:active.focus, .main-navigation a.download-app:active:focus, .main-navigation a.download-app:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.btn.focus, .btn:focus, .btn:hover, .main-navigation a.focus[href='#driver-registration'], .main-navigation a.focus[href='#download-app'], .main-navigation a[href='#driver-registration']:focus, .main-navigation a[href='#driver-registration']:hover, .main-navigation a.download-app:focus, .main-navigation a.download-app:hover {
    color: #333;
    text-decoration: none
}

.btn.active, .btn:active, .main-navigation a.active[href='#driver-registration'], .main-navigation a.active[href='#download-app'], .main-navigation a[href='#driver-registration']:active, .main-navigation a.download-app:active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled, .btn[disabled], .main-navigation a.disabled[href='#driver-registration'], .main-navigation a.disabled[href='#download-app'], .main-navigation a[disabled][href='#driver-registration'], .main-navigation a[disabled][href='#download-app'], .main-navigation fieldset[disabled] a[href='#driver-registration'], .main-navigation fieldset[disabled] a.download-app, fieldset[disabled] .btn, fieldset[disabled] .main-navigation a[href='#driver-registration'], fieldset[disabled] .main-navigation a.download-app {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    box-shadow: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e5e5;
    border-color: #adadad
}

.btn-default.active, .btn-default:active, .open > .btn-default.dropdown-toggle {
    background-image: none
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
    background-image: none
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success.active, .btn-success:active, .open > .btn-success.dropdown-toggle {
    background-image: none
}

.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info.active, .btn-info:active, .open > .btn-info.dropdown-toggle {
    background-image: none
}

.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning.active, .btn-warning:active, .open > .btn-warning.dropdown-toggle {
    background-image: none
}

.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger.active, .btn-danger:active, .open > .btn-danger.dropdown-toggle {
    background-image: none
}

.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff
}

.btn-link {
    color: #337ab7;
    font-weight: 400;
    border-radius: 0
}

.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    box-shadow: none
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent
}

.btn-link:focus, .btn-link:hover {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:focus, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover {
    color: #6f8992;
    text-decoration: none
}

.btn-lg {
    padding: 20px;
    font-size: 13px;
    line-height: 1.3333333;
    border-radius: 6px
}

.btn-sm, .btn-xs {
    font-size: 9px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-sm {
    padding: 5px
}

.btn-xs {
    padding: 1px 5px
}

.btn-block {
    display: block
}

.btn-block + .btn-block {
    margin-top: 5px
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav:after, .nav:before {
    display: table
}

.nav > li, .nav > li > a {
    position: relative;
    display: block
}

.nav > li > a {
    padding: 10px 15px
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee
}

.nav > li.disabled > a {
    color: #6f8992
}

.nav > li.disabled > a:focus, .nav > li.disabled > a:hover {
    color: #6f8992;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #eee;
    border-color: #337ab7
}

.nav .nav-divider {
    height: 1px;
    margin: 6px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.nav > li > a > img {
    max-width: none
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #586d75;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default
}

.nav-justified > li, .nav-stacked > li, .nav-tabs.nav-justified > li {
    float: none
}

.nav-pills > li > a {
    border-radius: 4px
}

.nav-pills > li + li {
    margin-left: 2px
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #337ab7
}

.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0
}

.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px
}

.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto
}

.nav-tabs-justified, .nav-tabs.nav-justified {
    border-bottom: 0
}

.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px
}

.nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    border: 1px solid #ddd
}

@media (min-width: 768px) {
    .nav-justified > li, .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%
    }

    .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
        margin-bottom: 0
    }

    .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }

    .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
        border-bottom-color: #fff
    }
}

.tab-content > .tab-pane {
    display: none;
    visibility: hidden
}

.tab-content > .active {
    display: block;
    visibility: visible
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.clearfix:after, .clearfix:before {
    display: table
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.hidden, .visible-lg, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block, .visible-md, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-sm, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-xs, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block {
    display: none !important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hvr-underline-from-center:before, .hvr-underline-from-left:before {
    content: "";
    z-index: -1;
    background: #2098D1;
    height: 4px;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    bottom: 0
}

.hidden {
    visibility: hidden !important
}

.affix {
    position: fixed
}

@-ms-viewport {
    width: device-width
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important
    }

    table.visible-xs {
        display: table
    }

    tr.visible-xs {
        display: table-row !important
    }

    td.visible-xs, th.visible-xs {
        display: table-cell !important
    }

    .visible-xs-block {
        display: block !important
    }

    .visible-xs-inline {
        display: inline !important
    }

    .visible-xs-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important
    }

    table.visible-sm {
        display: table
    }

    tr.visible-sm {
        display: table-row !important
    }

    td.visible-sm, th.visible-sm {
        display: table-cell !important
    }

    .visible-sm-block {
        display: block !important
    }

    .visible-sm-inline {
        display: inline !important
    }

    .visible-sm-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important
    }

    table.visible-md {
        display: table
    }

    tr.visible-md {
        display: table-row !important
    }

    td.visible-md, th.visible-md {
        display: table-cell !important
    }

    .visible-md-block {
        display: block !important
    }

    .visible-md-inline {
        display: inline !important
    }

    .visible-md-inline-block {
        display: inline-block !important
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important
    }

    table.visible-lg {
        display: table
    }

    tr.visible-lg {
        display: table-row !important
    }

    td.visible-lg, th.visible-lg {
        display: table-cell !important
    }

    .visible-lg-block {
        display: block !important
    }

    .visible-lg-inline {
        display: inline !important
    }

    .visible-lg-inline-block {
        display: inline-block !important
    }

    .hidden-lg {
        display: none !important
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important
    }
}

.visible-print {
    display: none !important
}

@media print {
    .visible-print {
        display: block !important
    }

    table.visible-print {
        display: table
    }

    tr.visible-print {
        display: table-row !important
    }

    td.visible-print, th.visible-print {
        display: table-cell !important
    }
}

.visible-print-block {
    display: none !important
}

@media print {
    .visible-print-block {
        display: block !important
    }
}

.visible-print-inline {
    display: none !important
}

@media print {
    .visible-print-inline {
        display: inline !important
    }
}

.visible-print-inline-block {
    display: none !important
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important
    }

    .hidden-print {
        display: none !important
    }
}

.hvr-underline-from-center, .hvr-underline-from-left, .hvr-wobble-horizontal, .hvr-wobble-vertical, .lets-go .app-buttons a, .main-navigation a {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale
}

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.0.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014. Generated with Sass.
 */
.hvr-underline-from-center {
    transform: translateZ(0);
    position: relative
}

.hvr-underline-from-center:before {
    position: absolute;
    left: 50%;
    right: 50%;
    transition-property: left, right
}

.hvr-underline-from-center:active:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:hover:before {
    left: 0;
    right: 0
}

.hvr-underline-from-left {
    transform: translateZ(0);
    position: relative;
    overflow: hidden
}

.hvr-underline-from-left:before {
    position: absolute;
    left: 0;
    right: 100%;
    transition-property: right
}

.hvr-underline-from-left:active:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:hover:before {
    right: 0
}

@keyframes hvr-wobble-vertical {
    16.65% {
        transform: translateY(8px)
    }
    33.3% {
        transform: translateY(-6px)
    }
    49.95% {
        transform: translateY(4px)
    }
    66.6% {
        transform: translateY(-2px)
    }
    83.25% {
        transform: translateY(1px)
    }
    100% {
        transform: translateY(0)
    }
}

.hvr-wobble-vertical, .lets-go .app-buttons a, .main-navigation a {
    transform: translateZ(0)
}

.hvr-wobble-vertical:active, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:hover, .lets-go .app-buttons a:active, .lets-go .app-buttons a:focus, .lets-go .app-buttons a:hover, .main-navigation a:active, .main-navigation a:focus, .main-navigation a:hover {
    animation-name: hvr-wobble-vertical;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1
}

@keyframes hvr-wobble-horizontal {
    16.65% {
        transform: translateX(8px)
    }
    33.3% {
        transform: translateX(-6px)
    }
    49.95% {
        transform: translateX(4px)
    }
    66.6% {
        transform: translateX(-2px)
    }
    83.25% {
        transform: translateX(1px)
    }
    100% {
        transform: translateX(0)
    }
}

.hvr-wobble-horizontal {
    transform: translateZ(0)
}

.hvr-wobble-horizontal:active, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:hover {
    animation-name: hvr-wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1
}

@keyframes hvr-bob {
    0%, 100% {
        transform: translateY(-8px)
    }
    50% {
        transform: translateY(-4px)
    }
}

@keyframes hvr-bob-float {
    100% {
        transform: translateY(-8px)
    }
}

.hvr-bob, .hvr-bounce-in, .mobile-scroller .scroll-btns__btn {
    transform: translateZ(0);
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale
}

.hvr-bob:active, .hvr-bob:focus, .hvr-bob:hover {
    animation-name: hvr-bob-float, hvr-bob;
    animation-duration: .3s, 1.5s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate
}

.hvr-bounce-in, .mobile-scroller .scroll-btns__btn {
    transition-duration: .5s
}

.hvr-bounce-in:active, .hvr-bounce-in:focus, .hvr-bounce-in:hover, .mobile-scroller .scroll-btns__btn:active, .mobile-scroller .scroll-btns__btn:focus, .mobile-scroller .scroll-btns__btn:hover {
    transform: scale(1.2);
    transition-timing-function: cubic-bezier(.47, 2.02, .31, -.36)
}

@keyframes hvr-buzz-out {
    10%, 30% {
        transform: translateX(3px) rotate(2deg)
    }
    20%, 40% {
        transform: translateX(-3px) rotate(-2deg)
    }
    50%, 70% {
        transform: translateX(2px) rotate(1deg)
    }
    60%, 80% {
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        transform: translateX(1px) rotate(0)
    }
    100% {
        transform: translateX(-1px) rotate(0)
    }
}

.car-select .car, .footer .social-icons a, .hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale
}

.header__video, .lets-go .app-buttons a:hover img {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .05)
}

.car-select .car:active, .car-select .car:focus, .car-select .car:hover, .footer .social-icons a:active, .footer .social-icons a:focus, .footer .social-icons a:hover, .hvr-buzz-out:active, .hvr-buzz-out:focus, .hvr-buzz-out:hover {
    animation-name: hvr-buzz-out;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: 1
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px
}

*, ::after, ::before {
    box-sizing: inherit
}

::-moz-selection {
    background: #337ab7;
    color: #fff
}

::selection {
    background: #337ab7;
    color: #fff
}

.bg-contain, .bg-cover {
    background-position: center;
    background-repeat: no-repeat
}

body {
    font-size: 1.6rem;
    font-family: Moderat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #6f8992;
    line-height: 1.8;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden
}

.bounding-box {
    max-width: 1375px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    width: 100%
}

.content-wrap {
    -ms-flex: 1;
    flex: 1;
    background-color: #fff;
    max-width: 100%;
    overflow-x: hidden
}

@media (min-width: 768px) {
    body {
        font-size: 1.5rem;
        line-height: 1.5
    }
}

body:not(.home) {
    background-color: #76cfe5;
    padding-top: 154px
}

body:not(.home) .article-content {
    padding: 40px 25px
}

.section-main {
    position: relative;
    background-color: #fff;
    min-height: 60vh
}

h1 {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.2rem
}

@media (min-width: 768px) {
    h1 {
        line-height: 5.5rem;
        font-size: 5.5rem
    }
}

h2, h3 {
    font-size: 2.2rem
}

@media (min-width: 768px) {
    h2, h3 {
        font-size: 3.5rem
    }
}

.sub-heading {
    font-size: 1.5rem
}

.heading {
    color: #363636;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 100;
}

@media (min-width: 768px) {
    .sub-heading {
        font-size: 2.2rem
    }
}

.slick-slide:active, .slick-slide:focus, .slick-slide:hover {
    outline: 0;
    border: 0
}

.block {
    display: block
}

.i-block {
    display: inline-block
}

.abs {
    position: absolute
}

.rel {
    position: relative
}

.fixed {
    position: fixed
}

.bg-contain {
    background-size: contain
}

.bg-cover {
    background-size: cover
}

.small {
    font-size: 9px
}

.large {
    font-size: 13px
}

.bold {
    font-weight: 800
}

.semibold {
    font-weight: 600
}

.flex, .flex-around, .flex-between, .flex-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.flex-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.flex-between {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.lets-go .app-buttons a:active, .lets-go .app-buttons a:focus, .lets-go .app-buttons a:hover, a:active, a:focus, a:hover {
    background: 0 0;
    text-decoration: none;
    outline: 0
}

.btn, .btn--yellow, .button a, .main-navigation a[href='#driver-registration'], .main-navigation a.download-app, ul li .btn {
    display: inline-block;
    min-width: 150px;
    height: 45px;
    text-align: center;
    padding: 12px 0 0;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0;
    transition: all .3s ease;
    border-radius: 15px;
    position: relative
}

button#driver_signup {
    height: 59px;
    padding: 20px;
}

.btn--yellow:active, .btn--yellow:focus, .btn--yellow:hover, .btn:active, .btn:focus, .btn:hover, .button a:active, .button a:focus, .button a:hover, .main-navigation a[href='#driver-registration']:active, .main-navigation a[href='#driver-registration']:focus, .main-navigation a[href='#driver-registration']:hover, .main-navigation a.download-app:active, .main-navigation a.download-app:focus, .main-navigation a.download-app:hover {
    font-size: 1.4rem;
    outline: 0;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .05)
}

.btn--yellow, .main-navigation a.download-app {
    background-color: #ffc444;
    color: #fff
}

.btn--yellow:active, .btn--yellow:focus, .btn--yellow:hover, .main-navigation a.download-app:active, .main-navigation a.download-app:focus, .main-navigation a.download-app:hover {
    background-color: #ffc444
}

.btn--white, .main-navigation a[href='#driver-registration'] {
    background-color: #fff;
    color: #76cfe5
}

.yellow {
    color: #ffc444
}

.txt--white {
    color: #fff
}

.txt--blue {
    color: #76cfe5
}

.bg--blue {
    background-color: #99e1f3
}

.bg--yellow {
    background-color: #ffc444
}

.bg--gray {
    background-color: #586d75
}

.bg--white {
    background-color: #fff
}

.flex-center, .header__video, .mobile-scroller, .video-modal .video-modal__video-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center
}

.text-med {
    font-size: 1.4rem
}

.text-center {
    text-align: center
}

.car-slider::after, .car-slider::before, .footer .social-icons .shape, .footer .social-icons i, .header-nav--container .header-nav__bg, .header-primary::before, .lets-go__parallax-scene, .mobile-scroller::after, .mobile-scroller::before, .mobile-scroller__mobile-phone .phone-mask, .mobile-scroller__mobile-phone::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.car-slider::after, .car-slider::before, .header-nav--container .header-nav__bg, .header-primary::before, .mobile-scroller::after, .mobile-scroller::before, .mobile-scroller__mobile-phone .phone-mask, .mobile-scroller__mobile-phone::after {
    content: '';
    display: block
}

.car-slider h3, .car-slider p {
    max-width: 280px
}

.car-slider .sub-heading {
    margin-bottom: 0
}

.car-slider h3 {
    margin-top: 0;
    line-height: 1.5;
    font-size: 2rem
}

@media (min-width: 768px) {
    .text-med {
        font-size: 2rem
    }

    .car-slider h3, .car-slider p {
        max-width: 500px
    }

    .car-slider .sub-heading {
        margin-bottom: 5px
    }

    .car-slider h3 {
        margin-bottom: 12px;
        line-height: 1.4
    }
}

@media (min-width: 992px) {
    .car-slider h3 {
        font-size: 3.5rem
    }
}

.gallery-item .gallery-caption, .wp-caption {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    font-size: 22px;
    text-transform: uppercase
}

.gallery {
    margin-left: -15px;
    margin-right: -15px
}

.gallery:after, .gallery:before {
    content: " ";
    display: table
}

.gallery-item {
    float: left;
    padding-left: 15px;
    padding-right: 15px
}

.gallery-columns-2 .gallery-item {
    width: 50%
}

.gallery-columns-3 .gallery-item {
    width: 33.33%
}

.gallery-columns-4 .gallery-item {
    width: 25%
}

.gallery-columns-5 .gallery-item {
    width: 20%
}

.gallery-item .gallery-caption {
    color: inherit;
    margin: 20px 0 0
}

.background-brown .gallery-item .gallery-caption {
    color: #e0e0e0
}

.alignnone {
    margin: 5px 20px 20px 0
}

.aligncenter {
    display: block;
    margin: 5px auto
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

a img.alignleft, a img.alignnone {
    margin: 5px 20px 20px 0
}

a img.alignleft {
    float: left
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    color: inherit;
    margin: 20px 0 0
}

.wp-caption.alignleft, .wp-caption.alignnone {
    margin: 5px 20px 20px 0
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px
}

.wp-caption img {
    border: 0;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto
}

.wp-caption p.wp-caption-text {
    margin: 0;
    padding: 0 4px 5px
}

.header-nav--container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 60
}

.header-nav--container .header-nav__bg {
    background-color: #fff;
    opacity: 0
}

.header-nav--container .main-navigation a {
    transition: color 1s ease
}

.header-nav--container .logo--blue {
    display: none
}

.header-nav--container.sticky {
    border-bottom: 1px solid #eee
}

.header-nav--container.sticky nav {
    padding-top: 14px
}

.header-nav--container.sticky .logo--blue {
    display: block
}

.header-nav--container.sticky .logo--white {
    display: none
}

.header-nav--container.sticky .main-navigation a {
    color: #99e1f3
}

.header-nav--container.sticky .main-navigation a.btn--white, .header-nav--container.sticky .main-navigation a[href='#driver-registration'] {
    background-color: #99e1f3;
    color: #fff
}

.header-nav--container.sticky .main-navigation a.btn--yellow, .header-nav--container.sticky .main-navigation a.download-app, .header-nav--container.sticky .main-navigation.is-active a {
    color: #fff
}

.header-nav--container.sticky .main-navigation.is-active a.btn--white, .header-nav--container.sticky .main-navigation.is-active a[href='#driver-registration'] {
    background-color: #fff;
    color: #99e1f3
}

.header-nav {
    display: -ms-flexbox;
    display: flex;
    padding: 10px 32px;
    transition: padding .3s ease
}

@media (min-width: 768px) {
    .header-nav {
        padding: 10px 28px
    }

    .sticky .header-nav {
        padding: 10px 20px
    }

    .sticky .header-nav .nav {
        margin-top: 0
    }

    .nav {
        margin-top: 20px
    }
}

@media (min-width: 992px) {
    .header-nav {
        padding: 50px 74px
    }

    .header-nav .sticky {
        padding: 10px 74px
    }
}

.logo {
    width: 110px;
    position: relative;
    z-index: 1
}

.nav {
    float: right
}

.header-primary {
    padding: 22px 15px 0;
    position: relative
}

@media (min-width: 768px) {
    .header-primary {
        padding: 28px 0 0
    }
}

.header-primary::before {
    background: linear-gradient(#65cbe6, #87d1e3);
    bottom: 0;
    z-index: 0;
    transition: bottom .3s ease
}

.header-primary .header__intro-text {
    position: relative;
    margin-top: 78px;
    padding: 0;
    text-align: center;
    z-index: 1
}

@media (min-width: 768px) {
    .header-primary .header__intro-text {
        margin-top: 132px;
        padding: 0 24px
    }
}

.header-primary .header__intro-text h1 {
    color: #fff;
    margin: 10px 0 8px;
    line-height: 3rem
}

@media (min-width: 768px) {
    .header-primary .header__intro-text h1 {
        margin: 14px 0 26px;
        line-height: 5.5rem
    }
}

.header-primary .header__intro-text .header__content p {
    margin-bottom: 26px
}

@media (min-width: 768px) {
    .header-primary .header__intro-text .header__content p {
        width: 750px;
        margin: 0 auto 64px
    }
}

.header-primary .header__intro-text .header__content p:last-child {
    margin-bottom: 0
}

.header-primary .header__intro-text .header__content img {
    margin: 0 auto
}

.header-primary .header__banner {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
    margin: 0 -15px;
    z-index: 40;
    transition: all .3s ease
}

@media (max-width: 768px) {
    .hamburger {
        position: absolute;
        right: 13px;
        top: 18px;
        z-index: 8
    }

    .hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
        background-color: #fff
    }

    .sticky .hamburger .hamburger-inner, .sticky .hamburger .hamburger-inner:after, .sticky .hamburger .hamburger-inner:before {
        background-color: #ffc444
    }
}

@media (min-width: 769px) {
    button.hamburger {
        display: none
    }

    .header-primary .flex {
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: end;
        align-content: flex-end;
        padding: 0
    }

    .header-primary .nav-container {
        position: static
    }
}

.footer {
    background-color: #586d75;
    padding: 0 25px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 320px;
    z-index: -1;
    width: 100%
}

@media (min-width: 768px) {
    .footer {
        padding: 40px 25px 20px;
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        height: 200px
    }
}

@media (min-width: 1200px) {
    .footer {
        padding: 50px 202px 20px
    }
}

.footer a {
    color: #fff
}

.footer .privacy {
    width: 100%;
    padding-bottom: 11px;
    margin-bottom: 22px;
    border-bottom: 1px solid #fff
}

.footer .privacy .social-icons {
    display: none
}

.footer .privacy a {
    display: block;
    margin-bottom: 12px
}

@media (min-width: 768px) {
    .footer .privacy {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        padding-bottom: 3px;
        margin-bottom: 16px
    }

    .footer .privacy__links {
        width: 400px;
        text-align: left;
        padding: 13px 0 0;
        font-weight: 700;
        font-size: 1.4rem
    }

    .footer .privacy__links a {
        margin-right: 10px
    }

    .footer .privacy .social-icons, .footer .privacy a {
        display: inline-block
    }

    .footer .privacy .social-icons {
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: right
    }

    .footer .privacy .social-icons a {
        width: 31px;
        height: 31px;
        margin-left: 6px
    }

    .footer .privacy .social-icons a:last-child i {
        padding-top: 9px
    }

    .footer .privacy .social-icons i {
        font-size: 1.4rem;
        padding-top: 9px
    }

    .footer .copy {
        width: 100%
    }

    .footer .copy p:first-child {
        float: left
    }

    .footer .copy p:last-child {
        float: right
    }
}

.footer .copy {
    font-size: 1.2rem;
    padding-bottom: 26px
}

.footer .copy p {
    margin-bottom: 0
}

.footer .social-icons {
    width: 100%
}

.footer .social-icons a {
    width: 46px;
    height: 46px;
    position: relative;
    text-align: center
}

.footer .social-icons a i {
    color: #76cfe5
}

.footer .social-icons a:hover .shape {
    fill: transparent
}

.footer .social-icons a:hover i {
    color: #fff
}

.footer .social-icons .shape, .footer .social-icons i {
    transition: all .3s ease
}

.footer .social-icons i {
    font-size: 2rem;
    padding-top: 13px;
    color: #99e1f3
}

.footer .social-icons .shape {
    fill: #fff
}

@media (min-width: 768px) {
    .footer .social-icons {
        display: none
    }
}

.main-navigation {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    -ms-flex: 1;
    flex: 1
}

.main-navigation ul {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center
}

.main-navigation ul li {
    z-index: 2
}

.main-navigation ul li a:active, .main-navigation ul li a:focus, .main-navigation ul li a:hover {
    background: 0 0
}

.main-navigation a {
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 0 10px
}

.main-navigation a.btn--white, .main-navigation a[href='#driver-registration'] {
    background-color: #fff;
    color: #76cfe5;
    margin: 0 8px 0 14px
}

.main-navigation a.btn--white:active, .main-navigation a.btn--white:focus, .main-navigation a.btn--white:hover, .main-navigation a[href='#driver-registration']:active, .main-navigation a[href='#driver-registration']:focus, .main-navigation a[href='#driver-registration']:hover {
    color: #fff;
    background-color: #ffc444
}

.main-navigation a[href='#driver-registration'], .main-navigation a.download-app {
    transition: background 1s ease;
    text-transform: uppercase
}

.main-navigation a[href='#driver-registration']:hover {
    color: #76cfe5;
    background-color: #fff
}

@media (max-width: 768px) {
    .main-navigation {
        padding-top: 10px;
        transition: all .5s ease-in-out;
        width: 0;
        height: 100vh;
        left: 0;
        right: auto;
        background-color: #76cfe5;
        overflow: hidden
    }

    .main-navigation .nav-wrap {
        width: 238px
    }

    .main-navigation ul {
        position: relative;
        padding-left: 0;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .main-navigation ul li {
        width: 100%;
        position: relative
    }

    .main-navigation ul li a {
        display: block;
        text-align: left;
        padding: 10px 30px;
        margin-bottom: 0;
        color: #fff
    }

    .main-navigation ul li:last-child, .main-navigation ul li:nth-last-child(2) {
        margin: 15px 0 10px
    }

    .main-navigation ul li:last-child a, .main-navigation ul li:nth-last-child(2) a {
        padding-top: 10px;
        margin: 0 0 0 30px;
        width: 172px;
        text-transform: uppercase;
        line-height: 1.8
    }

    .main-navigation.is-active {
        width: 270px;
        visibility: visible;
        filter: alpha(opacity=100);
        zoom: 1;
        opacity: 1
    }

    .main-navigation .menu-logo {
        width: 110px;
        margin: 0 29px 17px
    }
}

@media (min-width: 769px) {
    .main-navigation {
        visibility: visible;
        opacity: 1;
        display: inline-block;
        position: static
    }

    .main-navigation ul li {
        display: inline-block;
        position: relative;
        width: auto
    }

    .main-navigation ul li a {
        padding: 10px 20px
    }

    .main-navigation .menu-logo {
        display: none
    }
}

@media (min-width: 768px) {
    .main-navigation a {
        font-size: 1.8rem
    }

    .become-a-driver {
        padding: 124px 0 80px;
        margin-bottom: 98px
    }
}

.gform_ajax_spinner {
    position: absolute;
    width: 20px;
    bottom: 19px;
    right: -30px
}

.validated.has-error input.form-control, .validated.has-error textarea.form-control {
    border: 1px solid #dc4949 !important
}

.gfield_description.help-block {
    position: absolute;
    font-size: 11px;
    top: 10px;
    right: 30px;
    color: #dc4949
}

.driver-form, .gform_validation_error {
    position: relative
}

.driver-form {
    /*background-color: #76cfe5;*/
    padding-top: 40px;
    z-index: 40;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.driver-form iframe {
    border: 0;
    min-height: 200vh
}

.header__content:hover .banner-slider .slick-arrow {
    opacity: 1
}

.header__content img {
    width: 200px
}

/*# sourceMappingURL=main.css.map */

/***
Bootstrap Wizard
***/
.form-wizard .progress { margin-bottom: 30px; }
.form-wizard .steps {
    padding: 10px 0;
    margin-bottom: 15px;
    background-color: #fff;
    background-image: none;
    filter: none;
    border: 0px;
    box-shadow: none;
}
.form-wizard .steps > li > a.step {
    background-color: #fff;
    background-image: none;
    filter: none;
    border: 0px;
    box-shadow: none;
}
.form-wizard .steps > li > a.step:hover { background: none; }
.form-wizard .steps > li > a.step > .number {
    background-color: #eee;
    display: inline-block;
    text-align: center !important;
    font-size: 20px;
    font-weight: 300;
    padding: 15px 15px 15px 15px;
    margin-right: 10px;
    height: 55px;
    width: 55px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.form-wizard .steps > li > a.step > .desc {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
}
.form-wizard .steps > li > a.step > .desc > i { display: none; }
.form-wizard .steps > li.active > a.step .number {
    background-color: #79CFE5;
    color: #fff;
}
.form-wizard .steps > li.active > a.step .desc { color: #333; }
.form-wizard .steps > li.done > a.step .number {
    background-color: #F1C40F;
    color: #fff;
}
.form-wizard .steps > li.done > a.step .desc { color: #333; }
.form-wizard .steps > li.done > a.step .desc i {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    display: inline-block;
}

@media (min-width: 768px) and (max-width: 1200px) {
    /* 768px & 1200px */
    .form-wizard .step .desc {
        margin-top: 10px;
        display: block;
    }
}

@media (max-width: 768px) {
    /* 768px */
    .form-wizard .steps > li > a { text-align: left; }
}
.error{
    color:rgba(253,60,61,1.00);
}
label.error{
    color: red;
}